@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }

body {
  line-height: 1.6;
  color: #333;
    height: 100%;
  }

body#about {
    background: #EEE;
  }  
  
#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}


/* header */
header {
  position: relative;  
}

.box{
  min-height: 70px;
  position: relative;  
}

header h1 {
  /* text-align: center; */
  padding: 1rem;
  /* position: absolute; */  
  font-size: 20px;
}

header h1 a {
  color: rgb(0, 0, 0);
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;

}

#navBtn {
  display: none;
}

.open {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
}

/*humburger button*/

.open::before,
.open::after {
  content: "";
}

.open span,
.open::before,
.open::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #333;
  transition: transform .5s;
}

.open::before {
  transform: translateY(-8px);
}

.open::after {
  transform: translateY(8px);
}

/*close button*/
#navBtn:checked + .open {
  background: #555;
}

#navBtn:checked + .open span {
  transform: scaleX(0);
}

#navBtn:checked + .open::before {
  transform: rotate(45deg);
}

#navBtn:checked + .open::after {
  transform: rotate(-45deg);
}

#navBtn:checked + .open span,
#navBtn:checked + .open::before,
#navBtn:checked + .open::after {
  border-bottom-color: #EEE;
}

nav {
  /* display: none; */
  height: 100vh;
  width: 300px;
  position: absolute;
  top: 0;
  right: -300px;
  z-index: 50;
  background-color: rgba(0, 0, 0, .5);
  transition: transform .5s;
}

#navBtn:checked ~ nav {
  display: block;
  transform: translateX(-300px);
}

nav ul {
  list-style: none;
  padding-bottom: 1rem;
  margin: 0;
  text-align: center;
}

nav ul li {
  /* display: inline-block; */
  margin: 0 10px;
  padding: 10px 0;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  color: #EEE;
  color: rgb(0, 0, 0);
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;

}
  
/* main contents */
main {
    padding: 1rem;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

main h2{
  font-optical-sizing: auto;
  font-weight: 20;
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
  }

main p{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
  }

section {
    background: #FFF;
    padding: 20px;
    width: 100%;
  }  

  .img{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

form{
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
}

/* footer */
footer {
  background: rgb(247, 221, 235);
  color: #b3b3b3;
  text-align: center;
  padding: 1rem;
  width: 100%;
  /* position:absolute; */
  /* bottom:0; */
}

/*タブレット用*/
@media all and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .img{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*コンピュータ用*/
@media all and (min-width: 1025px) {
  header h1 {
    position: absolute;
    top: 0;
    left:0;
    font-optical-sizing: auto;
    font-weight: 50;
}


  nav {
    display: block;
    height: auto;
    width: 100%;
    position: static;
    background-color: transparent;
    min-height: 70px;
  }
  
nav ul{
  text-align: right;
  padding-top: 1rem;
}
  nav ul li {
    display: inline-block;
    padding: 0;
  }

  nav ul li a {
    color: #333;
  }

  #navBtn,
  .open {
    display: none;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }


a.pagetop {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #666;
  color: #FFF;
  position: fixed;
  bottom: 0;
  right: 20px;
}

html {
  scroll-behavior: smooth;
}


.container{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    
  }

  .column-img {
    flex: 1;
  }
  
  .column-text {
    flex: 2;
  }

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FFF;
  }

  
}